streamlit
opencv-python-headless
numpy
speechrecognition
librosa
requests
ffmpeg-python
werkzeug
uuid
scipy
mediapipe
pypdf2
regex
face-recognition
tensorflow
keras
flask
flask-cors
gdown
mtcnn
retina-face
fire
gunicorn
