streamlit
opencv-python-headless==4.5.5.64
numpy
speechrecognition
librosa
requests
ffmpeg-python
werkzeug
uuid
scipy
mediapipe
pypdf2
regex
tensorflow
keras
flask
flask-cors
gdown
mtcnn
retina-face
fire
gunicorn
